* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

svg text {
  stroke: #fff;
  font-size: 180px;
  font-weight: 700;
  stroke-width: 3px;
  animation: textAnimate 4s infinite alternate;
}

@keyframes textAnimate {
  0% {
    sfill: transparent;
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 50%;
    stroke-width: 3;
  }
  70% {
    fill: transparent;

    stroke-width: 3;
  }
  80% {
    fill: transparent;
    stroke-width: 3;
  }
  100% {
    fill: transparent;
    stroke-dashoffset: -35%;
    stroke-dasharray: 50% 0;
    stroke-width: 3;
  }
}

@layer utilities {
  .otp-input {
    @apply px-4 py-2 m-1 text-2xl rounded-lg border-2 border-gray-300 focus:border-blue-500 focus:outline-none text-center;
  }

  .otp-input:focus {
    @apply border-blue-500;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
